# first day of my coding journey

In [2]:
print ("hellow world") #this python world

hellow world

# Name rules for variable

In [4]:
apple= 23
print (apple)

23

In [6]:
apple_box= 2.3
print (apple_box)

2.3

In [8]:
_=4
print (_)

4

## A VARIABLE NAME CANNNOT START WITH NUMBER

In [28]:
1=3
print(1)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2206421804.py, line 1)

In [26]:
1==3
print (1)

1

In [24]:
1_apple=3
print (1_apple)

SyntaxError: invalid decimal literal (3850338940.py, line 1)

In [22]:
apple_2=3
print (apple_2)

3

a variable name is aplha numeric charters

In [20]:
abc123mn=2
print(abc123mn)

2

In [16]:
@#=34
print (@#)

SyntaxError: invalid syntax (1988075850.py, line 1)

In [18]:
a=2
b=1.3
c= "my name is musadiq"
print (a)
print(type(c))

2
<class 'str'>

In [12]:
v=3+3j
print(v)
print(type(v))

(3+3j)
<class 'complex'>

In [10]:
num = False
print(type(num))

<class 'bool'>

## A Variable Name Cannot Be a Python Keyword

In [154]:
print=3
print(print)

TypeError: 'int' object is not callable

# concatenation

In [1]:
first_name = "musadiq"
second_name = "syed"
full_name = f"{second_name} {first_name}"
print(full_name)

syed musadiq

In [3]:
a= "musadiq"
b= "syed"
print (b+a)

syedmusadiq

# reassign

In [37]:
x=4
x =3
print (x)

3

# Arithmetic operator

In [46]:
a= "musadiq"
b= "syed"
print ( a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [8]:
BA = "hellow "
print(BA* 4)

hellow hellow hellow hellow

In [12]:
a= "musadiq"
b= "syed"
print( a/b)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

# modulous

In [53]:
print (12%2)

0

# exponent

In [58]:
a=3
b=2
print (a ** b)

9

# boolean operator

In [63]:
a= True 
print ( type (a))

<class 'bool'>

In [65]:
x=5
y=5
print (x==y)

True

In [85]:
x = 2
y = 3
print( x!=y)

True

In [81]:
x=10
y=10
print(x %2==0)

True

# logical operators

In [88]:
x=True
y=False
print( x and y)

False

In [92]:
x=False
y=True
print( x or y)

True

# Not operators

In [95]:
x = True 
print (not x)

False

In [97]:
x = False
print (not x)

True

# question

In [103]:
product_1 = 4 * 3
product_2 = 5 * 6
product_3 = 6 * 7

print("The price of product 1 is:", product_1)
print("The price of product 2 is:", product_2)  # Fixed variable
print("The price of product 3 is:", product_3)  # Fixed variable

# Corrected total price calculation
total_price = product_1 + product_2 + product_3
print("The total price the customer needs to pay is:", total_price)

The price of product 1 is: 12
The price of product 2 is: 30
The price of product 3 is: 42
The total price the customer needs to pay is: 84

In [105]:
# Simple Interest Formula: SI = (P * R * T) / 100

P = 100000  # Principal Amount
R = 12      # Rate of Interest (in %)
T = 30      # Time in Years

# Calculating Simple Interest
SI = (P * R * T) / 100

# Printing the Simple Interest
print("The Simple Interest is:", SI)

The Simple Interest is: 360000.0

In [107]:
import math  # Importing the math module to use math.pi

# Input: Radius of the circle
radius = float(input("Enter the radius of the circle: "))

# Formula for the area of a circle
area = math.pi * (radius ** 2)

# Display the result
print(f"The area of the circle with radius {radius} is: {area:.2f}")

Enter the radius of the circle:  44

The area of the circle with radius 44.0 is: 6082.12

## float function

In [118]:
num_int = 20
print(type(num_int))
a=float(num_int)
print(a)
print(type(a))

<class 'int'>
20.0
<class 'float'>

# int function

In [139]:
a= 4.3
print(type(a))
c=int(a)
print(c)
print(type(c))

<class 'float'>
4
<class 'int'>