# Date 18/2/2025   (python journey)

# list

In [3]:
my_list=["a","b","c"]
print(my_list)
print(type(my_list))

['a', 'b', 'c']
<class 'list'>

# properties of list

In [10]:
fruit = ["orange", "cherry", "mango"]
print(fruit[1])  # Output: cherry

cherry

In [14]:
mixed_list = [1, "hello", 40, [1, 23]] #hetergenous mixture
print(mixed_list[2])  # Output: 40

40

In [19]:
number = [10, 11, 21, 34]
print(number[:4])  # Output: [10, 11, 21, 34]

[10, 11, 21, 34]

In [21]:
number = [10, 11, 21, 34]
print(number[:])  # Output: [10, 11, 21, 34]

[10, 11, 21, 34]

In [29]:
number = [10, 11, 21, 34] #negative indexing
print(number[-4]) 
print(number[-1])

10
34

In [31]:
number = [10, 11, 21, 34] # indexing with jumps
print(number[::2]) 
print(number[::3])

[10, 21]
[10, 34]

# pratice question

In [38]:
scores = [62, 92, 2, 62, 54, 105, 6]
high_score = []

for score in scores:
    if score > 70:
        high_score.append(score)  # Corrected this line
    else:
        pass 

print(high_score)

[92, 105]

# multiple properties of the last

In [41]:
scores = [62, 92, 2, 62, 54, 105, 6]

# Changing the 3rd element (index 2) to 50
scores[2] = 50

print(scores)

[62, 92, 50, 62, 54, 105, 6]

In [ ]:
scores = [62, 92, 2, 62, 54, 105, 6]

# Changing elements from index 1 to 3 (not including 4)
scores[1:4] = [99, 88, 77]

print(scores)

In [ ]:
scores = [62, 92, 2, 62, 54, 105, 6]
scores.append(99)  # Adds 99 at the end
print(scores)

In [45]:
scores = [62, 92, 2, 62, 54, 105, 6]
scores.remove(92)  # remove 92 at the end
print(scores)

[62, 2, 62, 54, 105, 6]

In [47]:
scores = [62, 92, 2, 62, 54, 105, 6]
additional_scores = [300, 400]

combined_scores = scores + additional_scores  # Join the two lists
print(combined_scores)

[62, 92, 2, 62, 54, 105, 6, 300, 400]

In [ ]:
a = [34, 34, 35, 36, 2, "apple", "syed", 5]
print("syed" in a)  # Checking if "syed" is in the list

In [ ]:
a = [34, 34, 35, 36, 2, "apple", "syed", 5]
a.reverse()  # Reverses the list in place
print(a)

# exercise question

In [54]:
response = ["yes", "", "no", "", "maybe", "", "", "yes", "", "syedmusadiq"]
clean = []

for resp in response:
    if resp != "":
        clean.append(resp)

print(clean)

['yes', 'no', 'maybe', 'yes', 'syedmusadiq']

In [60]:
class1_scores = [34, 56, 67, 77, 86]  # Fixed list syntax (added commas)
class2_scores = [34, 56, 77, 32, 32]  # Fixed list syntax (added commas)

# Calculate average scores
class1_avg = sum(class1_scores) / len(class1_scores)  # Fixed variable name and parentheses
class2_avg = sum(class2_scores) / len(class2_scores)  # Fixed variable name

# Print average scores
print("The average score of class 1 is:", class1_avg)
print("The average score of class 2 is:", class2_avg)

The average score of class 1 is: 64.0
The average score of class 2 is: 46.2

In [62]:
number=[1,2,3]
number.append([4,5])
print(number)

[1, 2, 3, [4, 5]]

In [64]:
word = ['hello', 'world']  # Corrected the quotes
sentence = ''.join(word)  # Corrected variable name 'wprd' to 'word'
print(sentence)  # Corrected variable name to 'sentence'

helloworld