# keep practice and contious yor journey

In [1]:
print("hellowo:")

hellowo:

In [15]:
num_people = int(input("Enter the number of people: "))
ages = []

# Collect ages from the user
for i in range(num_people):
    age = int(input("Enter the age of person: "))
    ages.append(age)

# Initialize counters
child_count = 0
adult_count = 0
seniors_count = 0

# Count children, adults, and seniors
for age in ages:
    if age <= 10:
        child_count += 1
    elif age <= 60:  # Adults are between 11 and 60 years old
        adult_count += 1
    else:  # Seniors are older than 60
        seniors_count += 1

# Print the results
print("The number of children:", child_count)
print("The number of adults:", adult_count)
print("The number of seniors:", seniors_count)

Enter the number of people:  3
Enter the age of person:  677
Enter the age of person:  6
Enter the age of person:  40

The number of children: 1
The number of adults: 1
The number of seniors: 1

In [39]:
original_tuple = (10, 20, 30, 40)

# 1️⃣ Converting Tuple into List



# 2️⃣ Adding Items to a Tuple (via conversion to list, since tuples are immutable)
original_tuple.append(50)
original_tuple.remove(50)
# Adding single item # Adding multiple items
modified_tuple = tuple(tuple_to_list)
print("Tuple after adding items:", modified_tuple)

AttributeError: 'tuple' object has no attribute 'append'

In [47]:
original_tuple = (10, 2, 30, 45)
  # Convert tuple to list

original_tuple.remove(2)                # Remove the element 2
original_tuple.append(200)              # Append 200 to the list
original_tuple.extend([29, 34, 3, 4])   # Extend the list with multiple values

print("The append and extend:",original_tuple)

The append and extend: [10, 30, 45, 200, 29, 34, 3, 4]

In [51]:
original_tuple=(10,2,30,45)
a_z=list(original_tuple)
a_z.remove(2)
a_z.append(200)
a_z.extend([29,34,3,4])
print("The append and extend:",a_z)

The append and extend: [10, 30, 45, 200, 29, 34, 3, 4]

In [25]:
a_z: [10, 2, 30, 45, 200, 29, 34, 3, 4]
list_tuple=tuple(a_z)
print("the list into tuple converter:",list_tuple)

NameError: name 'a_z' is not defined

In [31]:
a_z: [10, 2, 30, 45, 200, 29, 34, 3, 4]
list_tuple = tuple(a_z)
print("the list into tuple converter:", a_z)

the list into tuple converter: [10, 2, 30, 45, 200, 29, 34, 3, 4]

In [29]:
a_z = [10, 2, 30, 45, 200, 29, 34, 3, 4]
list_tuple = tuple(a_z)
print("The list converted into a tuple:", list_tuple)

The list converted into a tuple: (10, 2, 30, 45, 200, 29, 34, 3, 4)

In [63]:
sample_set={1, 2, 3, 4, 5}
sample_set.update([7, 8, 9])# Adding a single element
sample_set.remove(3) 
sample_set.discard(10)  # Safe removal (no error if element not found)
print("Set after discarding 10 (if present):", sample_set)
print("Set after adding 6:", sample_set)

Set after discarding 10 (if present): {1, 2, 4, 5, 7, 8, 9}
Set after adding 6: {1, 2, 4, 5, 7, 8, 9}